# Secret and environment files
.env
*.key
*.pem
config/secrets/*

# Node.js dependencies
node_modules/

# Build directories
dist/
build/

# Logs
logs/
*.log

# Temporary files
.vscode/
.DS_Store

# Test files and output
*test*.js
*check*.js
*output*.txt